@import "tailwindcss";

@theme {
  --color-gray-100: #FAFAFA;
  --color-gray-500: #737373;
  --color-gray-300: #999999;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.6;
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.714;
  --text-xs: 0.75rem;
  --text-xs--line-height: 2.334;
  --breakpoint-lg: 1240px;
  --breakpoint-md: 1024px;
  --breakpoint-sm: 768px;
  --breakpoint-xs: 640px;
  --breakpoint-2xs: 400px;
}

@layer base {
  *,:before,:after {
    @apply border-gray-200;
  }
  .button {
    @apply flex items-center justify-center bg-black px-8 w-full h-10 text-sm text-white transition hover:opacity-80 focus:ring-2 focus:ring-black focus:ring-offset-1 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60;
  }
  .text-underline {
    @apply underline underline-offset-6 decoration-1;
  }
}

[x-cloak] { display: none !important; }

.currentPage{
  @apply relative;
}
.currentPage::after{
  content: "";
  @apply absolute top-[10px] -left-6 w-3 h-3 rounded-full bg-black;
}