@import "tailwindcss";
/* @import "kiso.css"; */

@theme {
  --color-gray-500: #737373;
  --color-gray-300: #999999;
  --font-size-3xl: 2.5rem 1 -0.02em;
  --font-size-2xl: 1.5rem 1;
  --font-size-xl: 1.25rem 1.4;
  --font-size-lg: 1.125rem 133.333;
  --font-size-md: 1rem 1.5;
  --font-size-sm: 0.875rem 171.429;
  --font-size-xs: 0.8rem 1;
}

@layer base {
  html {
    @apply scroll-smooth;
    background: #FAFAFA;
  }
  body {
    @apply min-h-screen;
    font-family: 'Red Hat Display','Noto Sans JP', sans-serif;
    font-feature-settings: 'palt' on;
    letter-spacing: -0.02em;
  }
  /* accordion */
  /* details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  } */
  *,
  :before,
  :after {
    @apply border-gray-200;
  }
  .button {
    @apply flex items-center justify-center;
    @apply bg-black;
    @apply px-8 py-3 text-sm text-white;
    @apply transition hover:opacity-80;
    @apply focus:ring-2 focus:ring-black focus:ring-offset-1 focus:outline-none;
    @apply disabled:cursor-not-allowed disabled:opacity-60;
  }
}

[x-cloak] { display: none !important; }

.currentPage{
  @apply relative;
}
.currentPage::after{
  content: "";
  @apply absolute;
  @apply top-[10px] -left-6;
  @apply w-3 h-3 rounded-full;
  @apply bg-black;
}