@import "tailwindcss";
/* @import "kiso.css"; */

@theme {
  --color-gray-500: #737373;
  --color-gray-300: #999999;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.6;
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.714;
  --text-xs: 0.75rem;
  --text-xs--line-height: 2.334;
}

@layer base {
  html {
    @apply scroll-smooth;
    background: #FAFAFA;
  }
  body {
    @apply min-h-screen;
    font-family: 'Red Hat Display','Noto Sans JP', sans-serif;
    font-feature-settings: 'palt' on;
    letter-spacing: -0.02em;
  }
  /* accordion */
  /* details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  } */
  *,
  :before,
  :after {
    @apply border-gray-200;
  }
  .button {
    @apply flex items-center justify-center;
    @apply bg-black;
    @apply px-8 h-10 text-sm text-white;
    @apply transition hover:opacity-80;
    @apply focus:ring-2 focus:ring-black focus:ring-offset-1 focus:outline-none;
    @apply disabled:cursor-not-allowed disabled:opacity-60;
  }
  .text-underline {
    @apply underline underline-offset-6 decoration-1;
  }
}

[x-cloak] { display: none !important; }

.currentPage{
  @apply relative;
}
.currentPage::after{
  content: "";
  @apply absolute;
  @apply top-[10px] -left-6;
  @apply w-3 h-3 rounded-full;
  @apply bg-black;
}