<div class="
  w-full
  max-lg:w-[calc(100%+64px)] max-sm:w-[calc(100%+48px)] max-xs:w-[calc(100%+32px)]
  max-lg:-mx-8 max-sm:-mx-6 max-xs:-mx-4
">
  <div class="
    grid grid-cols-5 gap-10 mt-3 max-lg:flex max-lg:gap-4 
    max-lg:px-8 max-sm:px-6 max-xs:px-4
    max-lg:whitespace-nowrap max-lg:overflow-x-scroll
  ">
    <slot />
  </div>
</div>
